body {
    background: burlywood;
}


.contenedor {
    text-align: center;
    margin-top: 50px;
  }
  
  .encabezado {
    color: #3498db;
  }
  
  .botones {
    margin-top: 20px;
  }
  
  .boton {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
  }
  
  .respuesta {
    margin-top: 20px;
    color: #27ae60;
  }
  